* {
    margin: 0;
    padding:0;
    box-sizing: bolder-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width:100%;
    background-color: #53ed51;
}

.sublog 
{

  position: fixed;
  top: 6px;
  right: 40px;	
}
#log,
#sub {
  font-family:'Poppins',sans-serif;
	background-color: #00cc00;
	color:white;
	border-radius: 11px;
    cursor: pointer;
	border: none;
	padding: 2px 4px;
}


.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	
}

.card {
    width: 250px;
    height: 250px;
    padding: 60px 30px;
    margin: 20px;
    background: #F5F5F5;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
    border-radius: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: static;
    margin-bottom: 10px;
    overflow: hidden;
}

.image img{
    position: ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBx h4 {
   color: #187d22;
   font-size: 1.3rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}

.contentBx h5 {
   color: #187d22;
   font-size: 1rem;
   font-weight: bold;
   text-align: center;
}

.scm {
   margin-top: 10px;
}

.scm  a {
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.scm a:hover {
   color: #0196e3;
}

